body {
    font-family: cursive;
}

h1 {
    font-size: 4em;
    width: 50%;
    margin: 0 auto 0.5em;
}

address {
    font-size: 1.5em;
    width: 50%;
    margin: 0 auto 2em;
}

a {
    text-decoration: none;
    color: #3466b9;
}

.w3c-validation-area {
    margin: auto;
    width: 50%;
    height: 32px;
}